<main class="page mt-5">
  <div class="container d-flex flex-column align-items-center py-4 min-vh-100">
    <div class="d-flex flex-column align-items-center p-4 w-75"
        style="background: rgb(214,223,232);border-radius: 20px;">
      <h3>Find an Expert</h3>
      <div class="d-flex align-items-xl-center px-4 mt-4 w-100"><input type="text" class="w-75 px-4 py-2 form-control"><button
            class="btn btn-primary ml-5" data-bss-hover-animate="pulse">Search</button></div>
    </div>
    <div class="mt-5 w-75">
      <h1 class="text-center">Experts list</h1>
      <div class="mt-4" style="text-align: center;">
        <% @users.each do |expert| %>
          <%= render 'expert', expert: expert %>
        <% end %>
      </div>
    </div>
  </div>
</main>
