<div class="container d-flex flex-column align-items-center mt-5 py-4 min-vh-100">
  <div class="d-flex flex-column align-items-center p-4 w-75"
        style="background: rgb(222,222,222);border-radius: 20px;">
    <h3><%= @user.user_name %></h3>
    <div class="d-flex justify-content-around align-items-xl-center px-4 mt-4 w-100">
      <div><span>Website :&nbsp;</span><a href="#"><%= @user.website %></a></div>
      <%= link_to 'See friends', friendlist_path %>
    </div>
  </div>
  <h1 class="text-center my-4">Website headings</h1>
  <div class="w-75 p-4">
    <div class="mt-4" style="text-align: center;">
      <h3>Heading</h3>
      <h3>Heading</h3>
      <h3>Heading</h3>
      <h3>Heading</h3>
      <h3>Heading</h3>
      <h3>Heading</h3>
      <h3>Heading</h3>
    </div>
  </div>
</div>
